{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<div class="container">
   <div class="row">
     <div class="col">
      <h1>CARGAR UNA TAREA</h1>
      <h4>Agregar la tarea a realizar el dia del evento, horario y duracion de la misma en minutos</h4>
     </div>
     </div>
     <dov class="row">
     <div class="col">
      <form action="/familia/tareascarga/" method="post">
         {% csrf_token %} 
         {% bootstrap_form form%}
         {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
      </form>
     </div>
   </div>
 </div>
 